/* --------------------------------------------------------
Main Global Style Sheet for Omflow

version: 0.9
last modified: 20.09.2020 by Christof Bauer
author: Christof Bauer
email: bauer.christof@gmail.com
----------------------------------------------------------*/

@font-face {
  font-family: 'MetaPro';
  src:
    local('MetaPro'),
    local('FFMetaPro'),
    url('../fonts/FFMetaProRegular.TTF') format('truetype')
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 'MetaPro', serif;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

::-moz-selection {
    color: #eee;
    background: rgba(170,65,140,0.8);
    text-shadow: none;
}

::selection {
    color: #eee;
    background: rgba(170,65,140,0.8);
    text-shadow: none;
}

input {
  outline: none;
  border: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
button:active {
    outline: none;
}

hr {
    display: block;
    height: 1px;
    width: 60%;
    border: 0;
    border-top: 1px solid #ddd;
    margin: 1em 0;
    padding: 0;
}


/* ==========================================================================
Colors
========================================================================== */

$brand: #077D84;
$orange: #F78F52;
$text: #646060;
$error: #802000;
$gradient: #3EAFC9;




/* ==========================================================================
Navbar
========================================================================== */

.navbar {
  background: transparent;
  width: 100%;
}

.navbar-brand {
  background: url("../img/icons/logo-text-black.png") transparent no-repeat;
  text-indent: -9999px;
  width: 180px;
  height: 61px;
  text-indent: -9999px;
  background-size: cover;
}

.nav-item .active {
  color: red !important;
}

/* ==========================================================================
Create Teacher (Necessary because not known before runtime)
========================================================================== */

#imageTag {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 110%;
  transform: translateX(-50%);
}

#imageContainer.dragging {
  border-color: $brand;
  border-width: 10px;
  opacity: 0.3;
}
